modules = ["dotnet-8.0"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C# Console App"

[[workflows.workflow]]
name = "C# Console App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"

[workflows.workflow.metadata]
outputType = "console"

[nix]
packages = ["wget", "vim"]
